body {
   margin: 0;
}

#documentWrapper {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   box-sizing: border-box;
   overflow: scroll;
   white-space: nowrap;
   text-align: center;
}
#documentWrapper::before,
object {
   display: inline-block;
   vertical-align: middle;
}
#documentWrapper::before {
   content: "";
   height: 100%;
}
object {
   margin: 4px;
   outline: 1px solid gray;
}

#panels {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}
.hide {
   display: none;
}
.panel {
   margin: auto;
   padding: 15px;
   max-width: 100%;
   width: min-content;
   box-sizing: border-box;
   overflow-x: auto;
   white-space: nowrap;
}
.panel:not(.shown) {
   display: none;
}
.fieldsetTitle {
   font-weight: bold;
}
button {
   margin: .5em 0;
}
button + button {
   margin-left: .5em;
}
input[type="text"],
input[type="number"],
textarea {
   margin: 3px 0;
   padding: 3px;
   border: 1px solid black;
   font-family: inherit;
   font-size: inherit;
}
input[type="text"].longText {
   min-width: 80vw;
}
input[type="number"] {
   width: 5em;
}
textarea {
   width: 500px;
   height: 100px;
}
input[type="range"] {
   width: 50px;
   vertical-align: text-bottom;
}
select {
   border: 1px solid;
   background: white;
}
select[multiple] {
   min-width: 10em;
}
.currentField > * {
   background: lightyellow;
}
